:root {
    --calendarWidth: 806px;
    --borderColor: lightgray;
    --mainDateHeight: 79%;
    --otConnectionsHeight: 19%;
    --connectionsWidth: 44%;
    --connectionsColor: lightblue;
    --spareColor: lightgreen;
}

#sideNavBox {
    display: none;
}

#contentBox {
    margin-left: 94px;
}

.otb_CalendarDateRow {
    width: var(--calendarWidth);
}

#otb_CalendarDate {
    width: 90%;
    text-align: center;
    font-size: 2em;
    font-family: 'Cambria';
    box-sizing: border-box;
    border: 1px solid lightslategray;
    margin: 0px 15px;
    padding: 0px 0px 4px 0px;
}

#monthOTCalendar {
    width: var(--calendarWidth);
    box-sizing: border-box;
    border: 1px solid var(--borderColor);
}

.todaysDate {
    background-color: bisque !important;
}

.todaysDate .mainDate {
  color: red;
}

/* CSS is Magic: hide empty table cells! */

.unitConnections:empty, .spareConnections:empty {
    visibility: hidden;
}

td[invisible=true] {
    visibility: hidden;
}

td[invisible=true] div.MainDate {
    visibility: hidden;
}

td[invisible=true] div.otConnections {
    visibility: hidden;
}

.monthOTCalendarHeader {
    background-color: #303F9F;
    color: white;
    font-size: 1em;
}

.monthOTCalendarHeader th {
    border-left: 1px solid white;
    padding: 2px;
}

.dateCell {
    height: 112px;
    position: relative;
    font-size: 1.5em;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid var(--borderColor);
    border-collapse: separate;
    padding: 0px 4px;
}

.mainDate {
    height: var(--mainDateHeight);
    padding: 5px;
    font-size: x-large;
    position: relative;
}

.otConnections {
    height: var(--otConnectionsHeight);
}

.unitConnections {
    width: var(--connectionsWidth);
    float: left;
    background-color: var(--connectionsColor);
    padding-bottom: 1px;
    text-align: left;
    box-sizing: border-box;
}

.spareConnections {
    width: var(--connectionsWidth);
    float: right;
    background-color: var(--spareColor);
    padding-bottom: 1px;
    text-align: right;
    box-sizing: border-box;
}

.unitConnections, .spareConnections {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9pt;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    margin-left: 0px !important;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
  }

  .dropbtn:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 45px;
  }
  
  .weekEndDay {
    background-color: slategray;
    color: white;
  }

.arrow-right {
    box-sizing: border-box;
    height: 0px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 25px solid lightslategray;
}

.arrow-left {
    box-sizing: border-box;
    height: 0px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 25px solid lightslategray;
}

  /* testing forced redraw */
  .willnotrender { 
    transform: translateZ(0); 
 }

 .arrow-left:hover {
    border-right-color: #4CAF50;
 }

 .arrow-right:hover {
     border-left-color: #4CAF50;
 }

 /* TOOLTIP CODE */
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%; 
    margin-left: -60px;
    margin-bottom: 24px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
/*.mainDate:hover::after {
  content: "Click to reserve!";
  position: absolute;
  top: 50%;
  left: 10%;
  color: red;
  font-size: 12px;
  line-height: 15px;
}*/

.rezTooltip {
  visibility: hidden;
  font-size: 12px;
  line-height: 15px;
  color: red;
  position: absolute;
  top: 62%;
  left: 15%;
}

/*.dateCell:hover .rezTooltip {
  visibility: visible;
}*/

/* TOOLTIP CODE */


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

