<table class="monthOTCalendar" cellspacing="0">
   <tbody>
      <tr class="monthOTCalendarHeader" style="height: 24px;">
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​​Monday</th>
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​Tuesday</th>
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​Wednesday​</th>
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​Thursday</th>
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​​Friday</th>
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​Saturday</th>
         <th rowspan="1" colspan="1" style="width: 14.2857%; text-align: center;">​Sun​day</th>
      </tr>
      <tr style="height: 100px;">
         <td id="dateCell_1" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_1" class="mainDate"></div>
            <div id="otConnections_1" class="otConnections">
               <div id="unitConnections_1" class="unitConnections"></div>
               <div id="spareConnections_1" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_2" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_2" class="mainDate"></div>
            <div id="otConnections_2" class="otConnections">
               <div id="unitConnections_2" class="unitConnections"></div>
               <div id="spareConnections_2" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_3" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_3" class="mainDate"></div>
            <div id="otConnections_3" class="otConnections">
               <div id="unitConnections_3" class="unitConnections"></div>
               <div id="spareConnections_3" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_4" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_4" class="mainDate"></div>
            <div id="otConnections_4" class="otConnections">
               <div id="unitConnections_4" class="unitConnections"></div>
               <div id="spareConnections_4" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_5" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_5" class="mainDate"></div>
            <div id="otConnections_5" class="otConnections">
               <div id="unitConnections_5" class="unitConnections"></div>
               <div id="spareConnections_5" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_6" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_6" class="mainDate"></div>
            <div id="otConnections_6" class="otConnections">
               <div id="unitConnections_6" class="unitConnections"></div>
               <div id="spareConnections_6" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_7" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_7" class="mainDate"></div>
            <div id="otConnections_7" class="otConnections">
               <div id="unitConnections_7" class="unitConnections"></div>
               <div id="spareConnections_7" class="spareConnections"></div>
            </div>
         </td>
      </tr>
      <tr style="height: 100px;">
         <td id="dateCell_8" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_8" class="mainDate"></div>
            <div id="otConnections_8" class="otConnections">
               <div id="unitConnections_8" class="unitConnections"></div>
               <div id="spareConnections_8" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_9" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_9" class="mainDate"></div>
            <div id="otConnections_9" class="otConnections">
               <div id="unitConnections_9" class="unitConnections"></div>
               <div id="spareConnections_9" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_10" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_10" class="mainDate"></div>
            <div id="otConnections_10" class="otConnections">
               <div id="unitConnections_10" class="unitConnections"></div>
               <div id="spareConnections_10" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_11" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_11" class="mainDate"></div>
            <div id="otConnections_11" class="otConnections">
               <div id="unitConnections_11" class="unitConnections"></div>
               <div id="spareConnections_11" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_12" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_12" class="mainDate"></div>
            <div id="otConnections_12" class="otConnections">
               <div id="unitConnections_12" class="unitConnections"></div>
               <div id="spareConnections_12" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_13" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_13" class="mainDate"></div>
            <div id="otConnections_13" class="otConnections">
               <div id="unitConnections_13" class="unitConnections"></div>
               <div id="spareConnections_13" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_14" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_14" class="mainDate"></div>
            <div id="otConnections_14" class="otConnections">
               <div id="unitConnections_14" class="unitConnections"></div>
               <div id="spareConnections_14" class="spareConnections"></div>
            </div>
         </td>
      </tr>
      <tr style="height: 100px;">
         <td id="dateCell_15" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_15" class="mainDate"></div>
            <div id="otConnections_15" class="otConnections">
               <div id="unitConnections_15" class="unitConnections"></div>
               <div id="spareConnections_15" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_16" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_16" class="mainDate"></div>
            <div id="otConnections_16" class="otConnections">
               <div id="unitConnections_16" class="unitConnections"></div>
               <div id="spareConnections_16" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_17" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_17" class="mainDate"></div>
            <div id="otConnections_17" class="otConnections">
               <div id="unitConnections_17" class="unitConnections"></div>
               <div id="spareConnections_17" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_18" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_18" class="mainDate"></div>
            <div id="otConnections_18" class="otConnections">
               <div id="unitConnections_18" class="unitConnections"></div>
               <div id="spareConnections_18" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_19" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_19" class="mainDate"></div>
            <div id="otConnections_19" class="otConnections">
               <div id="unitConnections_19" class="unitConnections"></div>
               <div id="spareConnections_19" class="spareConnections"></div></div>
         </td>
         <td id="dateCell_20" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_20" class="mainDate"></div>
            <div id="otConnections_20" class="otConnections">
               <div id="unitConnections_20" class="unitConnections"></div>
               <div id="spareConnections_20" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_21" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_21" class="mainDate"></div>
            <div id="otConnections_21" class="otConnections">
               <div id="unitConnections_21" class="unitConnections"></div>
               <div id="spareConnections_21" class="spareConnections"></div>
            </div>
         </td>
      </tr>
      <tr style="height: 100px;">
         <td id="dateCell_22" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_22" class="mainDate"></div>
            <div id="otConnections_22" class="otConnections">
               <div id="unitConnections_22" class="unitConnections"></div>
               <div id="spareConnections_22" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_23" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_23" class="mainDate"></div>
            <div id="otConnections_23" class="otConnections">
               <div id="unitConnections_23" class="unitConnections"></div>
               <div id="spareConnections_23" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_24" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_24" class="mainDate"></div>
            <div id="otConnections_24" class="otConnections">
               <div id="unitConnections_24" class="unitConnections"></div>
               <div id="spareConnections_24" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_25" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_25" class="mainDate"></div>
            <div id="otConnections_25" class="otConnections">
               <div id="unitConnections_25" class="unitConnections"></div>
               <div id="spareConnections_25" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_26" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_26" class="mainDate"></div>
            <div id="otConnections_26" class="otConnections">
               <div id="unitConnections_26" class="unitConnections"></div>
               <div id="spareConnections_26" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_27" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_27" class="mainDate"></div>
            <div id="otConnections_27" class="otConnections">
               <div id="unitConnections_27" class="unitConnections"></div>
               <div id="spareConnections_27" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_28" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_28" class="mainDate"></div>
            <div id="otConnections_28" class="otConnections">
               <div id="unitConnections_28" class="unitConnections"></div>
               <div id="spareConnections_28" class="spareConnections"></div>
            </div>
         </td>
      </tr>
      <tr style="height: 100px;">
         <td id="dateCell_29" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_29" class="mainDate"></div>
            <div id="otConnections_29" class="otConnections">
               <div id="unitConnections_29" class="unitConnections"></div>
               <div id="spareConnections_29" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_30" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_30" class="mainDate"></div>
            <div id="otConnections_30" class="otConnections">
               <div id="unitConnections_30" class="unitConnections"></div>
               <div id="spareConnections_30" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_31" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_31" class="mainDate"></div>
            <div id="otConnections_31" class="otConnections">
               <div id="unitConnections_31" class="unitConnections"></div>
               <div id="spareConnections_31" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_32" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_32" class="mainDate"></div>
            <div id="otConnections_32" class="otConnections">
               <div id="unitConnections_32" class="unitConnections"></div>
               <div id="spareConnections_32" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_33" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_33" class="mainDate"></div>
            <div id="otConnections_33" class="otConnections">
               <div id="unitConnections_33" class="unitConnections"></div>
               <div id="spareConnections_33" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_34" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_34" class="mainDate"></div>
            <div id="otConnections_34" class="otConnections">
               <div id="unitConnections_34" class="unitConnections"></div>
               <div id="spareConnections_34" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_35" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_35" class="mainDate"></div>
            <div id="otConnections_35" class="otConnections">
               <div id="unitConnections_35" class="unitConnections"></div>
               <div id="spareConnections_35" class="spareConnections"></div>
            </div>
         </td>
      </tr>
      <tr style="height: 100px;">
         <td id="dateCell_36" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_36" class="mainDate"></div>
            <div id="otConnections_36" class="otConnections">
               <div id="unitConnections_36" class="unitConnections"></div>
               <div id="spareConnections_36" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_37" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_37" class="mainDate"></div>
            <div id="otConnections_37" class="otConnections">
               <div id="unitConnections_37" class="unitConnections"></div>
               <div id="spareConnections_37" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_38" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_38" class="mainDate"></div>
            <div id="otConnections_38" class="otConnections">
               <div id="unitConnections_38" class="unitConnections"></div>
               <div id="spareConnections_38" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_39" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_39" class="mainDate"></div>
            <div id="otConnections_39" class="otConnections">
               <div id="unitConnections_39" class="unitConnections"></div>
               <div id="spareConnections_39" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_40" class="dateCell" style="width: 14.2857%;">
            <div id="mainDate_40" class="mainDate"></div>
            <div id="otConnections_40" class="otConnections">
               <div id="unitConnections_40" class="unitConnections"></div>
               <div id="spareConnections_40" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_41" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_41" class="mainDate"></div>
            <div id="otConnections_41" class="otConnections">
               <div id="unitConnections_41" class="unitConnections"></div>
               <div id="spareConnections_41" class="spareConnections"></div>
            </div>
         </td>
         <td id="dateCell_42" class="dateCell weekEndDay" style="width: 14.2857%;">
            <div id="mainDate_42" class="mainDate"></div>
            <div id="otConnections_42" class="otConnections">
               <div id="unitConnections_42" class="unitConnections"></div>
               <div id="spareConnections_42" class="spareConnections"></div>
            </div>
         </td>
      </tr>
   </tbody>
</table>​